/** main, section #sedans #suvs #luxury, img h2 p button**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  width: 304px;
  height: 498px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  border-radius: 2px;
}

img {
  height: 40px;
  width: 64px;
}

h2 {
  font-family: "Big Shoulders", sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-size: 40px;
  font-weight: 700;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 1.5;
  padding: 0 40px 40px 0;
}

button {
  width: 148px;
  height: 50px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 95%);
  font-weight: bold;
}

#sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#suvs {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#sedans button {
  color: hsl(31, 77%, 52%);
  border: none;
}

#suvs button {
  color: hsl(184, 100%, 22%);
  border: none;
}

#luxury button {
  color: hsl(179, 100%, 13%);
  border: none;
}
