/** main, section #sedans #suvs #luxury, img h2 p button**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

section {
  width: 304px;
  height: 498px;
  display: flex;
  flex-direction: column;
}

img {
  height: 40px;
  width: 64px;
}
